USE [master]
GO
/****** Object:  Database [sqlpractice ]    Script Date: 1/16/2023 11:09:14 PM ******/
CREATE DATABASE [sqlpractice ]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'sqlpractice', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\sqlpractice .mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'sqlpractice _log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\sqlpractice _log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [sqlpractice ].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [sqlpractice ]
GO
/****** Object:  Table [dbo].[EmployeeDemographics]    Script Date: 1/16/2023 11:09:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeDemographics](
	[EmployeeID] [int] NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[Age] [int] NULL,
	[Gender] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employeesalary]    Script Date: 1/16/2023 11:09:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employeesalary](
	[EmployeeID] [int] NULL,
	[JobTitle] [varchar](50) NULL,
	[Salary] [int] NULL
) ON [PRIMARY]
GO
USE [master]
GO
